#bottom_layer{
                width: 100%; height: 40px;
                min-width: 1250px;
                position: fixed;
                bottom: 0;
                left: 0;
                overflow: hidden;
                zoom: 1;
                margin:0;
                background-color: #fafafa;
                text-align: left;
                line-height: 40px;
            }
            #bottom_layer .lh{display: inline; margin-right: 20px;}
            #bottom_layer .s-bottom-layer-left .lh:first-child{margin-left: 30px;}
            #bottom_layer .s-bottom-layer-right> .lh:last-child{margin-right: 30px;}
            #bottom_layer a{font-size:12px; text-decoration: none;}
            #bottom_layer a:hover{color:#222}
            #bottom_layer .s-bottom-layer-left{float: left;}
            #bottom_layer .s-bottom-layer-right{float: right; color:#bbb}
            #bottom_layer .s-bottom-layer-right a{color:#bbb}
            #bottom_layer .s-bottom-layer-right a:first-child{color:#999}
            #bottom_layer .s-bottom-layer-right a:hover{color:#333}